<footer>


        
    <div class="logoFooter">
        
        <section class="containerLogo">

            <picture class="logoPicture">
                <a href="sobre.html"><img src="/logo"></a>
            </picture>

            <div class="logoText">
                <h2>
                    <a href="sobre.html">Sampaio's Gallery</a>
                </h2>
            </div>

        </section>
    </div>

    <div class="contact">

        <div class="contactGallery">
            <h2>Contato Sampaio's Gallery</h2>

        <ul>
            <li>
                <a class="emailGallery" target="_blank" href="mailto:jusampa2@gmail.com">Email</a>
            </li>
            <li>
                <a class="phone" target="_blank" href="tel:+5511988739957">Telefone</a>
            </li>
            <li>
                <a class="message" target="_blank" href="https://wa.me/+5511988739957">Whatsapp</a>
            </li>
        </ul>

        </div>

        <div class="contactDev">
            <h2>Contato Desenvolvedor</h2>
        <ul>
            <li>
                <a class="github" target="_blank" href="https://github.com/MrSampaio">Github</a>
            </li>
            <li>
                <a class="emailDev" target="_blank" href="mailto:jusampa2@gmail.com">Email</a>
            </li>
            <li>
                <a class="lattes" target="_blank" href="https://buscatextual.cnpq.br/buscatextual/visualizacv.do;jsessionid=4AF157064713046B87BF9CECA73FF096.buscatextual_65">Lattes</a>
            </li>
        </ul>

        </div>
        
    </div>

    

</footer>