<header>
    <nav>

        <section class="containerLogo">

            <picture class="logoPicture">
                <a href="index.html"><img src="/logo"></a>
            </picture>

            <div class="logoText">
                <h2>
                    <a href="index.html">Sampaio's Gallery</a>
                </h2>
            </div>
            

        </section>

        <ul class="menuList">
            <li>
                <a class="firstChild" href="pinturas.html">Pinturas</a> 
            </li>
            <li>
                <a class="secondChild" href="esculturas.html">Esculturas</a>
            </li>
            <li>
                <a class="thirdChild" href="fotografias.html">Fotografias</a> 
            </li>
            <li>
                <a href="index.html">Recentes</a> 
             </li>
             <li>
                <a class="lastChild" href="sobre.html">Sobre</a>
             </li>
        </ul>

    </nav>
</header>