<!DOCTYPE html>
<html lang="pt-br">

    <%- include('../partials/head'); %>

<body>
    
    <%- include('../partials/header'); %>

    <main>

            <section class="descriptionBox">

                    <h1>
                        Sampaio's Gallery
                    </h1>

                <div class="textDescription">

                    <p>Bem-vindo(a) à Sampaio's Gallery! Aqui, você encontrará uma seleção de obras famosas de pinturas, esculturas e fotografias de artistas renomados de diferentes épocas e estilos.
                    </p>
                    <br>

                    <p>Começando com nossas pinturas, temos uma variedade de obras-primas que datam de séculos passados até a arte moderna. Você pode explorar os estilos mais clássicos, como o Barroco, o Renascimento e o Impressionismo, e apreciar pinturas icônicas de artistas como Leonardo da Vinci, Van Gogh, Johannes Veermer e Caravaggio. As obras expostas abrangem diferentes temas, como paisagens e retratos, cada uma delas representando uma expressão única do talento e da visão do artista.
                    </p>
                    <br>

                    <p>Nossa coleção de esculturas inclui algumas das peças mais famosas já criadas, como o David de Michelangelo, a Vênus de Milo e o Pensador de Rodin. Você pode admirar o detalhamento minucioso dessas peças, que foram esculpidas em diferentes materiais, incluindo mármore, bronze e pedra. Nossa galeria também exibe esculturas modernas e contemporâneas de artistas como Míron e Auguste Rodin, que apresentam formas inovadoras e criativas.
                    </p>
                    <br>

                    <p>Em seguida, temos uma seleção impressionante de fotografias de alguns dos fotógrafos mais famosos do mundo. De retratos icônicos de celebridades a imagens de arte conceitual, nossa coleção de fotografias é uma mistura de estilos e técnicas que refletem a evolução da arte da fotografia ao longo do tempo. Entre os fotógrafos que estão na exposição, você encontrará nomes como Steve McCurry, Doroteha Lange e Iain Macmillan.
                    </p>
                    <br>

                    <p>Em resumo, nossa galeria virtual expositiva é um destino emocionante e educativo para os amantes da arte, que podem experimentar e se envolver com algumas das obras mais famosas da história da arte. Seja você um estudioso ou um apreciador casual, nossa exposição virtual oferece uma oportunidade única de apreciar a arte em um ambiente interativo e imersivo.
                    </p>
                    <br>

                </div>

            </section>
    </main>

    <%- include('../partials/footer'); %> 

    
    

</body>
</html>