<!DOCTYPE html>
<html lang="pt-br">



    <%- include('../partials/head'); %>


<body>

    <%- include('../partials/header'); %>


    <main>

        
        

        <div class="titles">

            <div class="principalTitle">
                <div class="borderTitle">
                    <h1>
                        Adicionados recentemente
                    </h1>
                </div>
            </div>
            
        </div>

        <div class="paintingCategory category">
            <a href="pinturas.html">
                <h2>
                    Pinturas
                </h2>   
            </a>
            
        </div>

        <section class="boxPaintings">

            
                <picture class="image">
                    <img src="/paintings0">
                    <div class="contentPaintings">
                        <h2>Moça com Brinco de Pérola</h2>
                        <p>Por Johannes Vermeer</p>
                    </div>
                </picture>

            
                <picture class="image">
                    <img src="/paintings1">
                    <div class="contentPaintings">
                        <h2>Mona Lisa</h2>
                        <p>Por Leonardo Da Vinci</p>
                    </div>

                </picture>
                
            
                <picture class="image">
                    <img src="/paintings2">
                    <div class="contentPaintings">
                        <h2>Medusa</h2>
                        <p>Por Caravaggio</p>
                    </div>

                </picture>

        </section>

        <div class="boxTitles">
            <div class="sculptureCategory category">
                <a href="esculturas.html">
                    <h2>Esculturas</h2>
                </a>
                
            </div>
        </div>

        <section class="boxSculptures">

            

            <picture class="image">
                <img src="/sculptures0">
                <div class="contentSculptures">
                    <h2>Discóbolo</h2>
                    <p>Por Míron</p>
                </div>
            </picture>

            <picture class="image">
                <img src="/sculptures1">
                <div class="contentSculptures">
                    <h2>David</h2>
                    <p>Por Michelangelo</p>
                </div>
            </picture>

            <picture class="image">
                <img src="/sculptures2">
                <div class="contentSculptures">
                    <h2>Vénus</h2>
                    <p>Por WILLENDORF</p>
                </div>
            </picture>


        </section>

        <div class="boxTitles">
            <div class="photographsCategory category">
                <a href="fotografias.html">
                    <h2>Fotografias</h2>
                </a>
            </div>
        </div>

        <section class="boxPhotographs">

            <picture class="image">
                <img src="/photographs0">
                <div class="contentPhotographs">
                    <h2>Mãe Migrante</h2>
                    <p>Por Dorothea Lange</p>
                </div>
            </picture>

            <picture class="image">
                <img src="/photographs1">
                <div class="contentPhotographs">
                    <h2>Menina Afegã</h2>
                    <p>Por Steve McCurry</p>
                </div>
            </picture>

            <picture class="image">
                <img src="/photographs2">
                <div class="contentPhotographs">
                    <h2>O Beijo da Times Square</h2>
                    <p>Por Alfred Eisenstaedt</p>
                </div>
            </picture>

        </section>
        
    </main>

    <%- include('../partials/footer'); %>
    



</body>
</html>